:root {
  --green-color: #004750;
  --green-hover-color: #014049;
  --green-light-color: #007a7c;
  --green-light-color-100: #7ea9af;
  --white-color: #ffffff;
  --error-color: #b00020;
  --gray-color-100: #fcfcfc;
  --gray-color-150: #ececec;
  --gray-color-200: #aeaeae;
  --gray-color-300: #858585;
  --gray-color-400: #505050;
  --gray-color-500: #181818;
}
