::ng-deep {
  .sidemenu {
    max-width: 300px;

    background: var(--green-color);
    color: var(--white-color);
    background-image: url("../../../images/bg-graph-auth-left.svg");
    background-position: 47% 150%;
    background-repeat: no-repeat;
    background-size: 1000%;

    .area-logo {
      height: 73px;

      box-shadow: 0 2px 5px 2px rgb(0 0 0 / 10%), 0 1px 1px 0 rgb(0 0 0 / 4%),
        0 1px 3px 0 rgb(0 0 0 / 12%);
    }

    .overlay {
      background-color: var(--green-hover-color);
    }

    .menu {
      .p-panelmenu {
        .p-panelmenu-panel {
          box-shadow: none;

          &:first-child .p-panelmenu-header > a,
          &:first-child .p-panelmenu-header > a:hover {
            border-radius: 0;
          }
        }

        .p-panelmenu-header {
          a {
            background: var(--green-color);
            color: var(--white-color);

            &:focus {
              background: transparent !important;
            }

            &:hover {
              background-color: var(--green-hover-color) !important;
              color: var(--white-color);
            }
          }

          &.active {
            a {
              border-left: 5px solid var(--green-light-color);
              background-color: var(--green-hover-color);

              &:focus {
                background: var(--green-hover-color) !important;
              }
            }
          }
        }
      }
    }
  }
}
